@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "content";

@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    color: #232323;
  }
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.home-block {
  padding-bottom: 40px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}

.have-account {
  font-size: 14px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px !important;
  height: 60px !important;
  background-color: white !important;
  border-radius: 50% !important;
  color: black !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
}

.swiper-button-disabled {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.page-num {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  border: 1px solid #1dc071;
  color: #1dc071;
  @media screen and (max-width: 1023.98px) {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }
}

.page-num:hover {
  background-color: #1dc071;
  color: #ebedff;
}

.page-active {
  background-color: #1dc071;
  color: #ebedff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  @media screen and (min-width: 1024px) {
    bottom: 0 !important;
  }
  @media screen and (max-width: 1023.98px) {
    margin-top: 10px;
    bottom: unset !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #1dc071 !important;
}

.swiper-pagination-bullet {
  width: 25px !important;
  border-radius: 20px !important;
}

@media screen and (min-width: 1024px) {
  .swiper {
    padding-bottom: 40px !important;
  }
}
